/* Estilos para las cajas */
.contenedor {
    text-align: center;
    border:1px solid green;
    background-color: gainsboro;
}

.caja {
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    color: white;
    font-weight: bold;    
    display: inline-block;
    border-radius: 5px;

    /* Multiplicar por 10 para ver el efecto */
    margin: 20px; /* Margen exterior */
    border: 5px solid #2980b9; /* Borde */
    padding: 15px; /* Relleno interior */
}

.roja {
    background-color: #e74c3c;
}

.verde {
    background-color: #27ae60;
}

.azul {
    background-color: #3498db;
}
